body {
    width: 800px;
    background-color: rgb(255, 255, 255);    
    margin:0 auto;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
}
picture {
    position: absolute;    
    margin-top: 5px;
    right: 30%;
}
footer {
    text-align: center;
}
header {
    width: 300px;
}
li {
    list-style-type: none
}
main{
    margin-top: 120px;
}
section{
    border-bottom: 2px solid blue;
}